.DS_Store
# Database files
JapaneseDB.db
*.db-journal

# Python virtual environment
venv/
env/
.venv/
.env
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# VS Code settings
.idea/
.vscode/
*.iml
*.iws

# Log folder
logs/

# Keep __init__.py
!__init__.py


chroma.log
sentence-constructor_Andrew/chatgpt/examples.xml
sentence-constructor_Andrew/chatgpt/prompt.md
sentence-constructor_Andrew/chatgpt/Readme.md
sentence-constructor_Andrew/claude/considerations-examples.xml
sentence-constructor_Andrew/claude/examples.xml
sentence-constructor_Andrew/claude/japanese-teaching-tests.md
sentence-constructor_Andrew/claude/prompt.md
sentence-constructor_Andrew/claude/Readme.md
sentence-constructor_Andrew/claude/sentence-structure-examples.xml
sentence-constructor_Andrew/español-a-ingles/spanish-prompt.txt
sentence-constructor_Andrew/french-to-english/core-grammer.txt
sentence-constructor_Andrew/french-to-english/core-vocab.txt
sentence-constructor_Andrew/french-to-english/prompt.md
sentence-constructor_Andrew/meta-ai/prompt.md
sentence-constructor_Andrew/meta-ai/Readme.md
sentence-constructor_Andrew/perplexity/prompt.md
sentence-constructor_Andrew/perplexity/Readme.md
backend/data/vectorstore/9e5dadcb-524e-4287-9cb7-8ee393bbb17b/data_level0.bin
backend/data/vectorstore/9e5dadcb-524e-4287-9cb7-8ee393bbb17b/header.bin
backend/data/vectorstore/9e5dadcb-524e-4287-9cb7-8ee393bbb17b/length.bin
backend/data/vectorstore/9e5dadcb-524e-4287-9cb7-8ee393bbb17b/link_lists.bin
lang-portal/node_modules/*
lang-portal/frontend-react/package-lock.json
