manga_ocr==0.1.13
Pillow==11.0.0
huggingface-hub==0.28.1
python-dotenv==1.0.0
requests>=2.31.0
pyyaml>=6.0.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0
torchvision==0.21.0
requests>=2.31.0
# manga-ocr>=0.1.8
# --extra-index-url https://download.pytorch.org/whl/cpu
# torch==2.6.0+cpu
# torchvision==0.21.0+cpu
gradio>=5.17.0
openai>=1.0.0